body {
    font-size: 62.5%;
    font-family: $bodyFont;
    color: $textHex;
    font-size: $bodySize;
    letter-spacing: $letterSpacing;
    background: radial-gradient(circle at top left, $accentHex 0%, $mainHex 40%);
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    height: 100vh;
    overflow-y: hidden;
}
p, h1, h2 {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: $h1Size;
    text-align: right;
    font-weight: 400;
}
h2 {
    font-size: $h2Size;
}
footer, .alarm {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.wrapper {
    width: 98%;
    margin: 0 auto;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
}
.alarm {
    display: none;
}
input {
    letter-spacing: inherit;
    color: inherit;
    text-transform: inherit;
    text-align: center;
    width: 98%;
    font-family: inherit;
    padding: $paddingSize;
    border: none;
    border-bottom: $letterSpacing solid $accentHex;
    background: none;
    &:active,
    &:focus,
    &:focus-within {
        color: $mainHex;
        background: $accentHex;
    }
}
form {
    margin: $marginSize2;
    }
button {
    margin: $marginSize;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: inherit;
    width: 20%;
    border: $letterSpacing solid $accentHex;
    background: none;
    padding: 0.5rem;
    color: inherit;
    &:active,
    &:focus,
    &:focus-within {
        color: $mainHex;
        background: $accentHex;
    }
}
.countdown__container {
    display: block;
}

.error {
    text-align: center;
    padding: $marginSize;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $accentHex;
    color: $mainHex;
}