body {
    // cursor: url(../assets/tinyClock.png), auto;
    background-color: $mainHex;
    color: $textHex;
    font-family: $bodyFont;
    font-size: 62.5%;
    margin: 0 auto;
    position: relative;
}
button:hover,
input:hover,
label:hover {
    // cursor: url(../assets/tinyClockHover.png), auto;
}
h1 {
    font-family: $headingFont;
    font-size: 10rem;
    line-height: 9rem;
    padding: 0;
    margin: 0;
    text-align: right;
    font-weight: 500;
    font-style: italic;
}
body {
    height: 100vh;
}
#date__current {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.together {
    justify-content: center;
}
.apart {
    justify-content: space-between;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
#date__alarm {
    display: none;
    position: absolute;
    bottom: 30%;
    right: 0;

}