// FONTS
$bodyFont: 'Anonymous Pro', monospace;
$h1Size: 7vmin;
$h1SizeSmaller: 4rem;
$h2Size: 3rem;
$h2SizeSmaller: 1.6rem;
$bodySize: 1.6rem;
$footerSize: 2.5rem;
$accentHex: #F0F757;
$mainHex: #0C0F0A;
$textHex: #CCCDBF;
$letterSpacing: 0.2rem;
$paddingSize: 0.5rem;
$marginSize: 1rem;
$marginSize2: 2rem;
$bigMargin: 12rem;
$mobileError: 1.4rem;